<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 mb-5 mb-lg-0">
                <h5 class="text-5 text-transform-none font-weight-semibold text-color-light mb-4">Contact Us</h5>
                <p class="text-4 mb-0">No 20131</p>
                <p class="text-4 mb-0">Tibanefontein Village, Juno</p>
                <p class="text-4 mb-0">Limpopo, 0748</p>
                <p class="text-4 mb-0">Cell: <span class="text-color-light">+27 79 744 6191 </span></p>
                <p class="text-4 mb-0">Email: <span class="text-color-light"><a href="mailto:info@motlaekakwena.com">info@motlaekakwena.com</a> </span></p>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 mb-5 mb-lg-0">
                <h5 class="text-5 text-transform-none font-weight-semibold text-color-light mb-4">Opareting Hours</h5>
                <p class="text-4 mb-0">Mon-Fri: <span class="text-color-light">8:30 am to 5:00 pm</span></p>
                <p class="text-4 mb-0">Saturday: <span class="text-color-light">9:30 am to 1:00 pm</span></p>
                <p class="text-4 mb-0">Sunday: <span class="text-color-light">Closed</span></p>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <h5 class="text-5 text-transform-none font-weight-semibold text-color-light mb-4">Social Media</h5>
                <ul class="footer-social-icons social-icons m-0">
                    <a style="padding-right: 5px;" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a style="padding-right: 5px;" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-copyright footer-copyright-style-2 pb-4">
            <div class="py-2">
                <div class="row py-4">
                    <div class="col d-flex align-items-center justify-content-center mb-4 mb-lg-0">
                        <p>© Copyright 2020. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>