<div class="container">
    <div class="row" style="padding: 30px 0px; margin-top: 60px;">
        <div class="col-md-8 col-lg-8 col-sm-12">
            <div class="about-us-content mb-100">
                <div class="section-heading">
                    <h4>About us</h4>
                    <h2><span class="mmediumcolor">Let Us</span> Tell You Our Story</h2>
                </div>
                <br>
                <p>
                    Motlaekakwena (Pty) Ltd Close Corporation was established in March 2015 by the founder
members and it has grown from small beginnings to what the company represents today. The creation or formation of the company was to provide the corporate market with quality
services and quality products and turn the key solutions through the enabling of all other
activities.  <br><br>

Motlaekakwena (Pty) Ltd works as a centralized, professional, and efficient team,
whose vision is to become a premier South African reseller of world-class products and
business services. The company is a small to medium sized enterprise business, bridging the
gap between main dealers of products and services, and the corporate client.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
                <img src="../../assets/mtlaekakwena_logo.png" class="img-fluid position-absolute d-none d-sm-block appear-animation animated expandIn appear-animation-visible" data-appear-animation="expandIn" data-appear-animation-delay="300" style="top: 10%; animation-delay: 300ms;" alt="">
               
        </div>
    </div>
</div>