<div class="container">
    <div class="row" style="padding: 30px 0px; margin-top: 60px;">
        <div class="col-md-8 col-lg-8 col-sm-12">
            <div class="about-us-content mb-100">
                <div class="section-heading">
                    <h4>About us</h4>
                    <h2><span class="mmediumcolor">Let Us</span> Tell You Our Story</h2>
                </div>
                <br>
                <p>
                    Motlaekakwena (Pty) Ltd is accredited as an education and traning provider in Agriculture from 28 September 2018 until
                    31 March 2023. The awarding of this accreditation by the AgriSETA ETQA implies that Motlaekakwena
                    (Pty) Ltd has demonstrated compliance to the criteria for delivering the qualification(s)
                    and or Unit Standard(s) as per scope of accredited provider transcript attached for which
                    accreditation was sought.<br><br>
                </p>
                <h4 class="mmediumcolor">MISSION</h4>
                <p>
                    Provision of goods and services provided with integrity for the good and growth of business is the
                    policy that Motlaekakwena lies on.
                </p><br>

                <h4 class="mmediumcolor">VISION </h4>
              
                <ul>
                    <li>To offer best services to all government and private sector.</li>
                    <li>To offer after and before services.</li>
                    <li>To give best market prices.</li>
                    <li>To provide quality goods.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
            <img src="../../assets/new_logo.png"
                class="img-fluid position-absolute d-none d-sm-block appear-animation animated expandIn appear-animation-visible"
                data-appear-animation="expandIn" data-appear-animation-delay="300"
                style="top: 10%; animation-delay: 300ms;" alt="">

        </div>
    </div>
</div>